@import "constants.scss";
@import "init";
.header-outer{
  width: 100%;
  //z-index: 9999;
  height: 65px;
  background: #2d2d2d;
  .header-inner{
    margin: 0 auto;
    width: $pageWidth;
    overflow: hidden;
    height: 100%;
    .header-left-logo{
      background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
      height: 48px;
      //width: 57px;
      margin-top: 10px;
      float: left;
      width: 150px;
    }
    .nav{
        margin-left: 160px;
        float: left;
        height: 100%;
        li{
          margin-top: 0;
          float: left;
          margin-right: 54px;
          line-height: 65px;
          list-style: None;
          a{
            color: $headerColor;
            text-decoration: None;
          }
        }
      }
    .login{
      float: right;
      a{
        color: $headerColor;
        line-height: 65px;
      }
    }
  }
}