<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的项目</title>
    <link rel="stylesheet" href="../../dist/css/header.min.css">
    {% block YourHead %}{% endblock %}
</head>
<body>
<header>
    <div class="header-outer">
        <div class="header-inner">
            <div class="header-left-logo"></div>
            <div class="header-right">
                <ul class="nav">
                    <li><a href="">资讯</a></li>
                    <li><a href="">创业课堂</a></li>
                    <li><a href="">企业服务</a></li>
                    <li><a href="">搜索</a></li>
                </ul>
            </div>
            <div class="login">
                <a href="#">登陆/注册</a>
            </div>
        </div>
    </div>
</header>
{% block YourBody %}{% endblock %}
<footer>
    footer:未完成
</footer>
</body>
</html>