<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的项目</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
</head>
<body >
<header>
    <div class="header-outer">
        <div class="header-inner">
            <div class="header-left-logo"></div>
            <div class="header-right">
                <ul class="nav">
                    <li><a href="">资讯</a></li>
                    <li><a href="">创业课堂</a></li>
                    <li><a href="">企业服务</a></li>
                    <li><a href="">搜索</a></li>
                </ul>
            </div>
            <div class="login">
                <a href="#">登陆/注册</a>
            </div>
        </div>
    </div>
</header>
    <div class="wrapper">
        <div class="page-newslist">
            <div class="list"></div>
            <div class="side">
                <div class="side-new-list">
                    <div class="title side-title">
                        小饭桌快讯
                        <a href="#">更多</a>
                    </div>
                    <div class="news-letter-content">
                        <div class="news-letter-item">
                            <div class="show-item">
                                <div class="title">华为将与Gentle Monster合作推出AR/VR智能眼镜</div>
                                <div></div>
                                <div class="bottom">30分钟前</div>
                            </div>
                        </div>
                        <div class="news-letter-item">
                            <div class="show-item">
                                <div class="title">特斯拉在德因质量差服务慢，85辆Model 3遭退订</div>
                                <div></div>
                                <div class="bottom">12小时前</div>
                            </div>
                        </div>
                    </div>
                <div>

            </div>
        </div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

    </div>

</body>
</html>