<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的第一个Django项目</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>

</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">企业服务</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
             <a href="#">登陆/注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="#">
                            <img src="../../dist/images/123.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../dist/images/456.jpg" >
                        </a>
                    <li>
                        <a href="#">
                            <img src="../../dist/images/789.jpg" >
                        </a>
                    </li>

                </ul>
                <a href="#" class="arrow left" id="left" >‹</a>
                <a href="#" class="arrow right" id="right">›</a>
            </div>
        </div>
        <div class="sidebar-wrapper"></div>
    </div>
</div>
</body>
</html>